<html>
<head>
  <title>Submit Error</title>
</head>
<body>
<h1>Submit Error</h1>
  <p>Enter distances before you submit</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
